/*
@font-face {
  font-family: "Roboto", sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
}
*/
body {
  margin: 0;
font-family: 'Times New Roman', sans-serif;
/*  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}


code {
  font-family: 'Roboto';
}
.generaldata {
  margin-bottom: 4px;
  margin-top: 4px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
.generaldata-items{
  font-size:12px;
  font-weight:bold;
  color:black;
  font-family: 'Roboto', sans-serif;

}
#crypto-title, #exchange-title{
  margin-top: 4%;
  font-family: 'Roboto', sans-serif;

}
.data {
  font-size: 15px;
  border: 0.1px solid;
  border-radius: 10px;
  margin-bottom:10px;
  margin-top:15px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;

}
.trending-dominance {
  border: 1px solid;
  border-radius: 10px;
  margin-bottom:10px;
  margin-top:10px;
  margin-right:-10px;
  padding:5px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;

}
th {
  padding: 10px 6px;
}
#trending-img {
  width:25px;
  height:25px;
}
#btc-img {
  margin-right:5px;
}
.crypto-table {
  margin-top:2%;
}
.btc {
  padding:8%;
}
.navbar-titles{
  font-family: 'Roboto', sans-serif;
  font-size:14px;
}
